:root{
    --primary-color:#ee2020;
    --secondary-color:aliceblue;
    --bg-color:rgba(54, 51, 51, 0.575)
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    background-image: url(./components/assets/images/bg-red.jpg);
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: black;
    color: var(--secondary-color);
    display: grid;
    grid-template-rows: fit-content 100% fit-content;
    grid-template-areas: "navigation"
    "home-content"
    "footer";
}
.nav-bar{
    padding: 10px;
    display:grid;
    display: grid;
    grid-template-areas: "logo page content";
    height: fit-content;
    background-color: var(--bg-color);
    grid-area: navigation;
    border:1px solid var(--primary-color);
}

.logo{
    grid-area: logo;
    display: flex;
    align-items: center;
    justify-content: center;
}

#logo{
    height: 4rem;
    width: 5rem;
}

@media only screen and (max-width:768px) {
    #name {
        display: none !important;
    }
}


#name{
    color:var(--secondary-color);
    font-size: 3.5rem;
    color:var(--primary-color)
}

@media only screen and (max-width:768px) {
    .menu {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start !important;
        align-items: center;
        column-gap: 1.5rem;
        width: 100%;
    }
}

.menu{
    grid-area:page;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
}
.menu>span>a{
    margin: 10px;
    font-size: large;
    color: var(--secondary-color);
    text-decoration: none;
}

.menu>span>a:hover{
    color: grey;
}

.nav-content{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    grid-area: content;
}

.cart-icon , .wishlist-icon, .user-icon{
    font-size: 2rem;
    margin: 8px;
    padding: 4px;
}

i{
    color:var(--primary-color);
}

.query{
    width: 60%;
    max-width: 60%;
    margin: 8px;
    padding: 8px;
    border: 2px solid var(--primary-color);
    border-radius: 5px;
}

.home-page-content{
    height:100%;
    padding: 10px;
    grid-area: home-content;
    border: 1px solid var(--primary-color);
}

.home-page-img{
    width:100%
}

.promotion-img{
    width: 100%;
}

.home-page-footer{
    grid-area: footer;
    background-color: var(--bg-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: flex-end;
}