<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://apexui.netlify.app/main.css">
    <link rel="stylesheet" href="./auth.css">
    <link rel="stylesheet" href="../../../style.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
        <div class="form-container">
            <form class="form">
                <h1 class="form-heading">APEX STORE / LOGIN</h1>
                <input
                    type="text"
                    name="username"
                    placeholder="Enter Username">
                <input class="input"
                    type="password" 
                    name="password"
                    placeholder="Enter Password">
                    <p style="cursor: context-menu;"><input type="checkbox">Remember me  <a class="forget-pwd" href="#">Forget your Password?</a></p>
                <button class="btn">Login</button>
                <p>Not a member? <a class="sign-up" href="./signup.html">Create One</a></p>
            </form>
        </div>
</body>
</html>